@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto&display=swap");

.app-container {
  display: flex;
}
.container {
  background-color: #040440;
  width: 250px;
  height: fit-content;
  padding: 13px;
}
.board {
  margin-right: 87px;
}
.dashboard-details {
  display: flex;
  align-items: center;
}
.logo {
  color: #fff;
  font-size: 28px;
  margin-top: 5px;
  margin-right: 10px;
}
.head {
  color: #fff;
  font-family: "Roboto", "Sans-serif";
  font-weight: 600;
  font-size: 20px;
}
.links-container {
  margin-top: 40px;
  height: 100%;
}
.link-items {
  height: 40px;
  align-items: center;
  display: flex;
  font-size: 15px;
  color: #fff;
  border-radius: 9px;
  margin-bottom: 16px;
  padding: 6px;
  justify-content: space-between;
}
.icons {
  margin-right: 12px;
  font-size: 23px;
  margin-top: 7px;
}
.arrow {
  font-size: 16px;
  margin-left: 80px;
  margin-top: 9px;
}
.profile-container {
  background-color: #2d2d69;
  margin-top: 200px;
  border-radius: 9px;
  padding: 8px;
  display: flex;
  align-items: center;
  height: 40px;
}
.image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 4px;
}
.name-role {
  margin: 11px;
}
.name {
  color: #fff;
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
}
.components {
  background-color: rgb(245, 246, 248);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
